/* Section Header */
.navigation {
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    width: 100%;

}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigation li {
    float: right;
    color: white;
}

.navigation li a {
    display: block;
    text-align: center;
    padding: 2rem;
    text-decoration: none;
}

.navigation li a:hover{
    color: darkolivegreen;
}

/* Section Banner */
.banner {
    position: fixed;
    top: -10px;
    z-index: -1;
    width: 100%;
}

/* Section Intro */

.intro {
    margin: 20% 20% 10% 20%;
    padding: 4rem;
    background-color: rgba(255, 255, 255, .9);
    color: black;
    border-radius: 2rem;
    box-shadow: .4rem .6rem .1rem .1rem rgba(30, 73, 15, 0.5);
    text-align: center;
}

.intro h1, .intro p {
    margin: 0;
    color: darkolivegreen;
}

/* Main Section */

.container {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;

}

.cards {
    display: flex;
    padding: 5rem 5rem;
    justify-content: space-between;
    list-style: none;
    overflow-x: scroll;
    -webkit-mask: linear-gradient(90deg, #0000, #000 5% 80%, #0000);
}

.card {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    padding: 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(30, 73, 15, 0.5);
    scroll-snap-align: start;
    transition: all 0.2s;
}

.card:first-child {
    margin-left: 10rem;
}

.card:last-child {
    margin-right: 10rem;
}

.card:not(:last-child) {
    margin-right: 10px;
}

.card:hover {
    color: white;
    background: darkolivegreen;
}

.card .card-title {
    font-size: 20px;
}

.card .card-content {
    margin: 20px 0;
    max-width: 85%;
}

.card .card-link-wrapper {
    margin-top: auto;
}

.card .card-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: #429ea6;
    padding: 6px 12px;
    border-radius: 8px;
    transition: background 0.2s;
}

.card:hover .card-link {
    background: #429ea6;
}

.cards::-webkit-scrollbar {
    height: 12px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
    border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
    background: darkolivegreen;
}

.cards::-webkit-scrollbar-track {
    background: #fffffa;
}

@media (min-width: 500px) {
    .card {
        flex-basis: 60%;
    }

    .card:not(:last-child) {
        margin-right: 20px;
    }

    .card:first-child {
        margin-left: 10rem;
    }

    .card:last-child {
        margin-right: 10rem;
    }
}

@media (min-width: 700px) {
    .card {
        flex-basis: 50%;
    }

    .card:not(:last-child) {
        margin-right: 30px;
    }

    .card:first-child {
        margin-left: 10rem;
    }

    .card:last-child {
        margin-right: 10rem;
    }
}

@media (min-width: 1100px) {
    .card {
        flex-basis: 40%;
    }

    .card:not(:last-child) {
        margin-right: 40px;
    }

    .card:first-child {
        margin-left: 10rem;
    }

    .card:last-child {
        margin-right: 10rem;
    }
}

@media (min-width: 1600px) {
    .card {
        flex-basis: 25%;
    }

    .card:not(:last-child) {
        margin-right: 40px;
    }

    .card:first-child {
        margin-left: 10rem;
    }

    .card:last-child {
        margin-right: 10rem;
    }
}
